{{ define "custom_head" }}
{{ partial "reveal_head" . }}
{{ with .Params.includes.css }}
  {{ $type := printf "%T" . }}
  {{ if eq $type "[]interface {}" }}
    {{ range . }}
      <link rel="stylesheet" href="{{ . }}">
    {{ end }}
  {{ else }}
    <link rel="stylesheet" href="{{ . }}">
  {{ end }}
{{ end }}
{{ end }}

{{ define "body" }}
<body class="quarto-light">
<img src="/img/buw_logo.svg" class="slide-logo">
<div id="home">
  <a href="/"><i class="fa-solid fa-house"></i></a>
</div>
<div class="reveal">
<div class="slides">

<section id="title-slide" class="center">
  <div id="title-container">
  <p class="week">{{ .Params.subtitle }}</p>
  <h1 class="title">{{ .Title }}</h1>
  <div id="details-container">
    <div id="qrcode-container">
      <div id="qrcode"></div>
    </div>
    <div>
      <p class="subtitle">IUDD Research Skills</p>
      <p class="date">{{ .Date.Format "2 January 2006" }}</p>
      <p class="author">{{ with .Page.Params.Author }}{{ . }}{{ else }}{{print "Dr " .Site.Author.name }}{{ end }}</p>
      <p class="institute">Bauhaus-University Weimar</p>
    </div>
  </div>
  </div>
  </section>
{{ $paragraphs := split .Content `<h2` }}
{{ range $index, $p := $paragraphs }}
{{ if eq $index 0}}
{{ else }}
  {{ $section := index (findRE `(?s:(.*?)>)` . 1) 0 }}
  {{ if in $section "class=" }}
    {{ $section = replaceRE `class="(.*?)"` `class="slide level2 $1"` $section}}
  {{ else }}
    {{ $section = replaceRE `>` `class="slide level2" >` $section}}
  {{ end }}
  {{ $section = print "<section" $section }}
  {{ $section | safeHTML }}
  {{ $p = replaceRE `<p>(.*?){.(.*?)}\s*</p>` "<p class='$2'>$1</p>" $p }}
  {{ print "<h2" $p | safeHTML  }}
  {{ with index ( findRE `(?s:source="(.*?)")` $section 1 ) 0 }}
  {{ $source := replaceRE `source="(.*?)"` "$1" . }}
    <a class="bkg-source" href="{{ $source }}" >Image source</a>
  {{ end }}
  </section>
{{ end}}
{{ end }}

<section id="any-questions">
  <h2 class="middle">Any questions?</h2>
</section>
<section data-background='{{ with resources.Get "img/end.jpg" }}{{ .RelPermalink }}{{ end }}'>
</section>
</div>
</div>
</body>
{{ end }}

{{ define "foot" }}

{{ with .Params.includes.js }}
  {{ $type := printf "%T" . }}
  {{ if eq $type "[]interface {}" }}
    {{ range . }}
      <script src="{{ . }}"></script>
    {{ end }}
  {{ else }}
    <script src="{{ . }}"></script>
  {{ end }}
{{ end }}
<script type="text/javascript">
  var qrcode = new QRCode(document.getElementById("qrcode"), {
    text: "{{ print .Site.Params.hostedOn .Permalink }}",
    width: 180,
    height: 180,
    colorDark : "#ffffff",
    colorLight : "#1860ac",
    correctLevel : QRCode.CorrectLevel.H
  });
</script>
{{ partial "reveal_foot" . }}
{{ end }}
