body {
  letter-spacing: 1px;
}
.reveal #title-slide #details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slide-background a.bkg-source {
	position: absolute;
	right: 13px;
	font-size: 12px;
	color: #fff8;
	top: 10px;
}
.reveal h2.middle {
	height: 100%;
	width: 100%;
	text-align: center;
	margin-top: 300px;
}
h2[id^="section"] {
	display: none;
}
.reveal .smaller {
  font-size: .85em;
}
/* .reveal div[class] > p {
	margin: 0;
} */
.reveal p {
	margin-inline: 0;
	line-height: 1.3;
}
.reveal div.sourceCode {
    margin: 0;
    overflow: auto;
  }
  .reveal div.hanging-indent {
    margin-left: 1em;
    text-indent: -1em;
  }
  .reveal .slide:not(.center) {
    height: 100%;
  }
  .reveal .slide.scrollable {
    overflow-y: auto;
  }
  .reveal .footnotes {
    height: 100%;
    overflow-y: auto;
  }
  .reveal .slide .absolute {
    position: absolute;
    display: block;
  }
  .reveal .footnotes ol {
    counter-reset: ol;
    list-style-type: none; 
    margin-left: 0;
  }
  .reveal .footnotes ol li:before {
    counter-increment: ol;
    content: counter(ol) ". "; 
  }
  .reveal .footnotes ol li > p:first-child {
    display: inline-block;
  }
  .reveal .slide ul,
  .reveal .slide ol {
    margin-bottom: 0.5em;
  }
  .reveal .slide ul li,
  .reveal .slide ol li{
    margin-top: 0.5em;
    margin-bottom: 1.2em;
  }
  .reveal .slide ul li li {
    margin-bottom: 0;
  }
  .reveal .tight ul li, .reveal .tight ol li {
    margin-bottom: 0;
  }

  .reveal .slide ul[role="tablist"] li {
    margin-bottom: 0;
  }
  .reveal .slide ul li > *:first-child,
  .reveal .slide ol li > *:first-child {
    margin-block-start: 0;
  }
  .reveal .slide ul li > *:last-child,
  .reveal .slide ol li > *:last-child {
    margin-block-end: 0;
  }
  .reveal .slide .columns:nth-child(3) {
    margin-block-start: 0.8em;
  }
  .reveal blockquote {
    box-shadow: none;
    font-style: italic;
    border: none;
    width: fit-content;
  }
  .reveal blockquote::before {
    content: open-quote;
    font-family: Times New Roman;
    font-size: 4em;
    position: absolute;
    top: -12px;
    left: -34px;
  }
  blockquote > *:first-child {
    border-top: solid 1px;
    padding-top: .3em;
  }
  .reveal blockquote .author {
    display: block;
    text-align: end;
    font-style: normal;
  } 
  .reveal blockquote .author::before {
    content: '~';
    margin-right: 3px;
  }

  .reveal .tippy-content>* {
    margin-top: 0.2em;
    margin-bottom: 0.7em;
  }
  .reveal .tippy-content>*:last-child {
    margin-bottom: 0.2em;
  }
  .reveal .slide > img.stretch.quarto-figure-center,
  .reveal .slide > img.r-stretch.quarto-figure-center {
    display: block;
    margin-left: auto;
    margin-right: auto; 
  }
  .reveal .slide > img.stretch.quarto-figure-left,
  .reveal .slide > img.r-stretch.quarto-figure-left  {
    display: block;
    margin-left: 0;
    margin-right: auto; 
  }
  .reveal .slide > img.stretch.quarto-figure-right,
  .reveal .slide > img.r-stretch.quarto-figure-right  {
    display: block;
    margin-left: auto;
    margin-right: 0; 
  }

  .reveal .quasi-title {
    font-size: var(--r-heading2-size);
    margin: var(--r-heading-margin);
    color: var(--r-heading-color);
    font-family: var(--r-heading-font);
    font-weight: var(--r-heading-font-weight);
    line-height: var(--r-heading-line-height);
    letter-spacing: var(--r-heading-letter-spacing);
    text-transform: var(--r-heading-text-transform);
    text-shadow: var(--r-heading-text-shadow);
    word-wrap: break-word;
  }

.reveal pre code {
  background-color: #fff;
  color: #333;
}

.img-caption-container {
	display: block;
	width: fit-content;
	font-size: .8em;
	margin: auto;
}

.img-caption {
	max-width: 650px;
	margin-inline: auto;
  margin-top: .5em;
}

.img-caption.rot {
  max-width: 500px;
  width: fit-content;
	margin-top: 0;
	background: white;
	color: #333;
	padding: 3px 10px;
	box-shadow: 5px 5px 10px 0 #333;
}

.frame {
	border: solid 10px white;
	box-shadow: 5px 5px 10px 0 #333;
  background-color: white;
  color: #333;
  width: fit-content;
}

.reveal .center {
	text-align: center;
	margin: auto;
}

#home {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
	font-size: 1.5em;
}

html:fullscreen #home {
  display: none;
}

#home a {
  color: white
}

#home a:hover {
  border-bottom: none;
}

.contact {
  display: flex;
  gap: 4em;
  align-items: center; 
  width: fit-content;
  margin-inline: auto;
  margin-top: 2em;
}

.reveal .contact .hero {
  border: solid 6px white;
	border-radius: 50%;
	height: 200px;
  margin: 0;
}

.reveal .slide .timeline{
  position:relative;
  /* margin-left:45% */
}
/* .reveal .slide .timeline .line{
  position:absolute;
  height:calc(100% - 6.3em);
  width:8px;
  background:rgba(255,255,255,.6666666667);
  top:35px
} */

.timeline-item p {
  margin: 0;
}

.reveal .slide .timeline .line {
  height: calc(100% - 3.6em);
  width: .3em;
  margin-top: 1em;
  background: rgba(255,255,255,.6666666667);
  justify-self: center;
  grid-column: 2;
  /* grid-row: 1/-1; */
  z-index: -1;
}

.reveal .slide .timeline ul{
  position: relative;
  font-size:1em;
  margin-left:1.5em;
	display: grid;
	grid-template-columns: 1fr 2.6em 1fr;
}

.reveal .slide .timeline ul li{
  grid-row: span 2;
  width: fit-content;
  height: fit-content;
  position:relative;
}
.reveal .slide .timeline ul li:nth-child(odd) {
	grid-column: 1;
	justify-self: end;
}

.reveal .slide .timeline ul li:nth-child(even) {
	grid-column: 3;
}

.reveal .slide .timeline ul li:nth-child(2) {
	grid-row: 2/4;
}
.reveal .slide .timeline ul li.last, .reveal .slide .timeline ul li.checkpoint {
	z-index: 2;
}
.reveal .slide .timeline li::marker{
  content:""
}
.reveal .slide .timeline li::before {
	content: "";
	height: 1em;
	width: 1em;
	background-color: #1860ac;
	border: solid .2em #fff;
	border-radius: 50%;
	position: absolute;
	right: -1.8em;
	z-index: 1;
}
.reveal .slide .timeline li:nth-child(even)::before{
  right:auto;
  left:-1.8em;
}
.reveal .slide .timeline li.last::before,
.reveal .slide .timeline li.checkpoint::before {
	background: #f59f00;
	border: none;
}

.reveal .timeline-item {
  font-size:.8em;
  margin-bottom:1em;
  color:#444;
  background:#fff;
  box-shadow:6px 7px 10px -5px rgba(0,0,0,.6666666667);
}

.timeline-item > * {
  padding:0 .3em
}

.timeline-item > *:last-child {
  padding-bottom:.5em
}
.reveal .item-heading{
  background-color:#f59f00;
  font-weight:400;
  color:#fff;
  padding:.5em .3em;
  transform: translate(.4em, -.4em);
  text-align: end;
}
.reveal li:nth-child(even) .item-heading{
  transform: translate(-.4em, -.4em);
  text-align: start;
}

.reveal .item-title {
  font-size: 1.2em;
  padding: 0 .3em .5em .3em;
}

.reveal .timeline .dot {
	height: calc(1em - 2px);
	width: calc(1em - 2px);
	background: white;
	border-radius: 50%;
	grid-column: 2;
	margin-inline: auto;
	margin-top: .5em;
	z-index: 1;
}

.fn {
	position: absolute;
	bottom: 0;
	font-size: .8em;
}

tbody tr:nth-child(2n-1) {
	background: white;
	color: var(--r-background-color);
}

.reveal .times {
	font-family: time;
	font-size: 1.3em;
}

.times > * {
	margin-block: .5em;
}

.rtl {
	direction: rtl;
	text-align: start;
}

.logic ol li:last-child {
	border-top: solid 1px;
	margin-inline: -1.4em 1.5em;
	padding-left: .5em;
	padding-top: .5em;
	list-style-position: inside;
}

.text-center * {
	text-align: center !important;
}

#qrcode {
  display: none;
}

.stack {
	position: relative;
  display: flex; 
  justify-content: center;
}

.stack figure {
	position: absolute;
  height: 100%;
}

.reveal .reference p {
	margin-left: 2em;
}

.reveal .slide .row-wise .columns:nth-child(3) {
  margin-block-start: 0;
}

.reveal .row-wise ul.incremental {
  margin-bottom: 0;
}

.reveal .row-wise ul.incremental li {
margin-bottom: .3em;
}

@media all and (display-mode: fullscreen) {
  #qrcode {
    display: block;
  }
}

/* 
.arrow {
	height: 100px;
	width: 100px;
	background: transparent;
	border: solid 12px white;
	border-radius: 50%;
	position: relative;
  animation: rotate 2s ease-in-out infinite
}
.arrow::after, .arrow::before {
	content: '';
	display: block;
	position: absolute;
	height: 0;
	width: 0;
	border: solid 18px;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	transform: translate(25px, -22px);
}
.arrow::before {
	border-left: solid 15px var(--r-background-color);
	transform: translate(35px, -22px);
}

@keyframes rotate {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg);
  }
} */