<script src="/assets/site_libs/clipboard/clipboard.min.js"></script>

  <meta name="dcterms.date" content="2023-10-10">
  <title>Introduction to Research Skills</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="/assets/site_libs/revealjs/dist/reset.css">
  <link rel="stylesheet" href="/assets/site_libs/revealjs/dist/reveal.css">
  <style>
    code{white-space: pre-wrap;}
    span.smallcaps{font-variant: small-caps;}
    div.columns{display: flex; gap: min(4vw, 1.5em);}
    div.column{flex: auto; overflow-x: auto;}
    div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
    ul.task-list{list-style: none;}
    ul.task-list li input[type="checkbox"] {
      width: 0.8em;
      margin: 0 0.8em 0.2em -1em; 
      vertical-align: middle;
    }
  </style>
  <link rel="stylesheet" href="/assets/site_libs/revealjs/dist/theme/quarto.css" id="theme">
  <link href="/assets/site_libs/revealjs/plugin/quarto-line-highlight/line-highlight.css" rel="stylesheet">
  <link href="/assets/site_libs/revealjs/plugin/reveal-menu/menu.css" rel="stylesheet">
  <link href="/assets/site_libs/revealjs/plugin/reveal-menu/quarto-menu.css" rel="stylesheet">
  <link href="/assets/site_libs/revealjs/plugin/quarto-support/footer.css" rel="stylesheet">
  <link href="/assets/css/revealjs.css" rel="stylesheet">