{{ define "body" }}
<body>
    {{ block "header" . }}
    {{ partial "header" . }}
    {{ end }}

    <main>
        <div class="container">
            <section id="intro">
                {{ .Content }}
            </section>
            <section id="course-lead">
                <h2>Course lead</h2>                
                <div id="hero">
                {{ with resources.Get "img/mv.jpg" }}
                {{ with .Resize "160x"}}
                <img src="{{ .RelPermalink }}" alt="Picture of Milan Valasek">
                {{ end }}
                {{ end }}
                </div>
                <div id="contact">
                <div id="name">
                {{ .Site.Author.title }} {{ .Site.Author.name }}
                </div>
                <div id="email">
                    <a href="mailto:{{ .Site.Author.email }}">{{ .Site.Author.email }}</a>
                </div>
                <div id="address">
                    {{ .Site.Author.address | markdownify }}
                </div>
                </div>
            </section>
            <section id="week-list-section">
                {{ range sort .Pages "File.Path" }}
                {{ if in .Type "week" }}
                <details><summary><h2><span class="week-number">Week {{ replaceRE ".*?0?(\\d+).*" "$1" .File.Dir }}</span>{{ .Title }}</h2></summary>
                <p>{{ .Content }}</p>
                <div class="slide-iframe-container">
                    <iframe class="slides" src="about:blank" data-source="{{ .Permalink }}/slides"></iframe>
                    <a href="{{ .Permalink }}/slides" target="_blank">Open in a new tab</a>
                </div>
                </details>
                {{ end }}                
                {{ end }}
            </section>
            {{/*  <div id="loading"></div>  */}}
        </div>
    </main>

    {{ partial "footer" . }}
    {{ block "footer_js" . }}
    {{ end }}
    {{ with .Resources.Get .Params.footer_js }}<script src="{{ . }}" type="text/javascript"></script>{{ end }}
    {{ block "footer_css" . }}
    {{ end }}
    {{ with .Resources.Get .Params.footer_css }}
    <link rel="stylesheet" href="{{ resources.Get . }}">{{ end }}
    <script>
        /*  "Loading...".split("").forEach((e, i) => {
        const div = document.getElementById("loading")
        div.innerHTML = div.innerHTML + ("<span style='animation-delay:0." + i + "s;'>" + e + "</span>")  */
        // load/unload iframes when Week section is toggled
        document.querySelectorAll("#week-list-section summary").forEach(
            el => el.addEventListener("click", e => {
                const details = e.target.closest("details")
                const ifr = details.querySelector(".slide-iframe-container iframe")
                source = details.open ? "about:blank" : ifr.dataset.source
                ifr.src = source
            },
            {"once": true})) // maybe just load once?

    </script>
</body>
{{ end }}
